@page "/BicycleDetail/{bicycleId}"
@using BicycleRental.Client.Repositories;
@using BicycleRental.Shared.Models;

<h2>@_bicycle.Name</h2>
<p>
    <label style="font-size:20px"><span style="font-weight:700">Brand:</span> @_bicycle.Brand</label>
    <br />
    <label style="font-size:20px"><span style="font-weight:700">Type:</span> @_bicycle.Type</label>
    <br />
    <label style="font-size:20px"><span style="font-weight:700">Place:</span> @_bicycle.Place</label>
    <br />
    <label style="font-size:20px"><span style="font-weight:700">Region:</span> @_bicycle.Region</label>
    <br />
    <label style="font-size:20px"><span style="font-weight:700">GearCount:</span> @_bicycle.GearCount</label>
    <br />
    <label style="font-size:20px"><span style="font-weight:700">TireSize:</span> @_bicycle.TireSize</label>
    <br />
    <br />
    <h3>Prize per Day: @_bicycle.PrizePerDay</h3>
</p>


@code {
    [Parameter]
    public string BicycleId { get; set; }

    private Bicycle _bicycle = new Bicycle();
    private List<Reservation> _reservations = new();

    [Inject]
    private BicycleRepository _bicycleRepository { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _bicycle = await _bicycleRepository.Details(int.Parse(BicycleId));
    }
}